
body
{
    color: deepblack;
    text-align: center;
    font-family: "arial";
    font-size: 20px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 100%;
    padding: 1em;
    text-align:left ;
    border: 1px solid #DDD;
    margin: 0auto;

}
#container h1
{
    font-size: 2em;
    font-weight: bold;
    text-align:center;
    margin: 0;
    padding: 0;
}