.gallery {
  --z: 32px; /* control the zig-zag  */
  --s: 400px; /* control the size */
  --g: 8px; /* control the gap */

  display: grid;
  gap: var(--g);
  width: calc(2 * var(--s) + var(--g));
  grid-auto-flow: column;
}

#container {
  color: rgb(231, 16, 16);
  font-family: 'Roboto', sans-serif;
  text-align: center
  }




.gallery > img {
  width: 0;
  min-width: calc(100% + var(--z) / 2);
  height: var(--s);
  object-fit: cover;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.gallery > img:hover {
  width: calc(var(--s) / 2);
}
.gallery > img:first-child {
  place-self: start;
  clip-path: polygon(calc(2 * var(--z)) 0, 100% 0, 100% 100%, 0 100%);
  --mask: linear-gradient(#000 0 0) left/calc(100% - var(--z)) 100% no-repeat,
    conic-gradient(from -135deg at right, #0000, #000 1deg 89deg, #0000 90deg)
      100% 50% / var(--z) calc(2 * var(--z)) repeat-y;
}
.gallery > img:last-child {
  place-self: end;
  clip-path: polygon(0 0, 100% 0, calc(100% - 2 * var(--z)) 100%, 0 100%);
  --mask: linear-gradient(#000 0 0) right/calc(100% - var(--z)) 100% no-repeat,
    conic-gradient(from 45deg at left, #0000, #000 1deg 89deg, #0000 90deg) 0%
      calc(50% + var(--z)) / var(--z) calc(2 * var(--z)) repeat-y;
}

.gallery {
  --s: 200px; /* control the size */
  --g: 8px;   /* control the gap */
  
  display: grid;
  grid: auto-flow var(--s)/repeat(2,var(--s));
  gap: var(--g);
}
.gallery > img {
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  filter: grayscale();
  z-index: 0;
  transition: .25s,z-index 0s .25s;
  -webkit-transition: .25s,z-index 0s .25s;
  -moz-transition: .25s,z-index 0s .25s;
  -ms-transition: .25s,z-index 0s .25s;
  -o-transition: .25s,z-index 0s .25s;
  -webkit-filter: grayscale();
}
.gallery > img:hover {
  width: calc(200% + var(--g));
  filter: grayscale(0);
  z-index: 1;
  --_c: 50%;
  transition: .4s,z-index 0s;
  -webkit-transition: .4s,z-index 0s;
  -moz-transition: .4s,z-index 0s;
  -ms-transition: .4s,z-index 0s;
  -o-transition: .4s,z-index 0s;
  -webkit-filter: grayscale(0);
}
.gallery > img:nth-child(1){
  clip-path: circle(var(--_c,65% at 70% 70%));
  place-self: start;
}
.gallery > img:nth-child(2){
  clip-path: circle(var(--_c,65% at 30% 70%));
  place-self: start end;
}
.gallery > img:nth-child(3){
  clip-path: circle(var(--_c,65% at 70% 30%));
  place-self: end start;
}
.gallery > img:nth-child(4){
  clip-path: circle(var(--_c,65% at 30% 30%));
  place-self: end;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #9cdaec;
}